.nk-button-container {
    position: relative;
}

.nk-button {
    background-color: #00000021;
    border-radius: 40px;
    font-family: HelveticaMedium;
    margin-bottom: 40%;
    font-size: 1rem;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -44%);
    width: 49.5%;
    height: 29%;
}

.nk-button:hover {
    background-color: #00000085;
}

.nk-button:focus {
    outline: none;
}

@media (orientation: landscape) {
    .nk-button {
        margin-bottom: 10%;
        padding: 10px 30px;
        font-size: 1rem;
    }
}
