.imgs-button-container {
}

.imgs-button-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
     transform: scale(1);
    transition: 200ms;
}

.touch-area {
    position: absolute;
    top: 30%;
    bottom: 30%;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}