.score-box {
    background: url(/images/score_box.webp);
    background-repeat: no-repeat;
    background-size: contain;
    color: black;
    font-size: 1.5rem;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 39px;
    text-align: center;
    vertical-align: middle;
    line-height: 39px;
}

@keyframes add-anim {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}
.add-score-anim {
    animation-name: add-anim;
    animation-duration: 0.8s;
}