.receive-button {
    position: absolute;
    margin-top: 25%;
}

.hd-container {
    height: calc(100vw*9/16*0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}